<section class="description__page bg-success bg-gradient text-white">
  <h2 class="description__page__title">Descripción</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate quos dolor architecto eius consequuntur mollitia, tenetur iure. Explicabo deleniti inventore natus architecto porro rerum ex animi at labore praesentium?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, repellat incidunt nam aliquam aliquid excepturi? Vel quia, nesciunt officia tenetur laboriosam ex exercitationem eum quas neque nulla, totam placeat sapiente.</p>
</section>
