<h2>Staff list</h2>
<hr>
<div class="row">
  <div class="col">
    <div class="form-group">
      <input type="text"
        class="form-control"
        placeholder="Search by house..."
        #txtSearch
        (keyup)="onSearchStaffs(txtSearch.value)"
      >
    </div>
  </div>
</div>

<br>
<button class="btn btn-primary" (click)="prevPage()">
  Anteriores
</button>
&nbsp;
<button class="btn btn-primary" (click)="nextPage()" [disabled]="(staffs | filterStaffs:page:filterStaffs).length === 0">
  Siguientes
</button>
<br>

<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Species</th>
          <th>Gender</th>
          <th>House</th>
        </tr>
      </thead>
      <tbody *ngFor="let staff of staffs | filterStaffs:page:filterStaffs" [ngStyle]="{'height': '50px'}">
        <tr>
          <td *ngIf="staff.image, else image"><img [src]="staff.image" [alt]="staff.name" width="90"></td>

          <ng-template #image>
            <td>Not found image</td>
          </ng-template>
          <td>{{ staff.name }}</td>
          <td>{{ staff.species }}</td>
          <td>{{ staff.gender }}</td>
          <td>{{ staff.house }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
