.footer__page {
	width: 100%;
	background: #666666;
	margin: 0;
  align-items: center;
	padding: 10px;
}

.footer__page__text {
	color: #fff;
}

.footer__page__text a {
	color: #fff;
	text-decoration: none;
}

.footer__page__text a:hover {
	text-decoration: underline;
}
